

  <%= f.field_container :title do %>
    <%= f.label :title, t(:title) %> <span class="required">*</span><br />
    <%= f.text_field :title, :class => 'title' %>
    <%= f.error_message_on :title %>
  <% end %>

  <%= f.field_container :network_id do %>
  <%= f.label :network_id, t(:network) %><br />
  <%= f.collection_select :network_id, Network.all, :id, :name%>
  <% end %>
  <br/>
