<%= render :partial => 'marketing_share/marketing_sub_menu' %>

<div class="toolbar" data-hook="toolbar">
  <ul class="actions">
    <li id="new_marketing_compaign_link">
      <%= button_link_to "New Compaign", "/admin/marketing_campaigns/new" %>
    </li>
  </ul>
  <br class="clear" />
</div>

<br/>
<br/>
<br/>
<%@networks.each do |network|%>
<h4><%=network.name%></h4>
<table class="index">
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Network</th>
    <th>Created at</th>
    <th>Updated at</th>
    <th>Action</th>    
  </tr>
  <%@campaigns[network.id].each do |campaign|%>
    <tr>
      <td><%=campaign.id%></td>
      <td><%=campaign.title%></td>
      <td><%=network.name%></td>
      <td><%=campaign.created_at%></td>
      <td><%=campaign.updated_at%></td>
      <td><%=link_to "Edit", "/admin/marketing_campaigns/#{campaign.id}/edit", :class => 'edit'%>&nbsp;&nbsp;|&nbsp;&nbsp;<%=link_to "Delete", "/admin/marketing_campaigns/#{campaign.id}/delete", :class => 'delete'%></td>
    </tr>  
  <% end %>
</table>
<br/>
<%end%>


