<%= render :partial => 'marketing_share/marketing_sub_menu' %>

<div class="toolbar" data-hook="toolbar">
  <ul class="actions">
    <li id="new_marketing_compaign_link">
      <%= button_link_to "New Createive", "/admin/creatives/new" %>
    </li>
  </ul>
  <br class="clear" />
</div>

<br/>
<br/>
<br/>

<table class="index">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Created at</th>
    <th>Updated at</th>
    <th>Action</th>    
  </tr>
  <%@objects.each do |object|%>
    <tr>
      <td><%=object.id%></td>
      <td><%=object.name%></td>
      <td><%=object.created_at%></td>
      <td><%=object.updated_at%></td>
      <td><%=link_to "Edit", "/admin/creatives/#{object.id}/edit", :class => 'edit'%>&nbsp;&nbsp;|&nbsp;&nbsp;<%=link_to "Delete", "/admin/creatives/#{object.id}/delete", :class => 'delete'%></td>
    </tr>  
  <% end %>
</table>
<br/>


